html{
    background-color: black;
}

body {
    display: grid;
}
div{
    width: 50%;
    min-width: 300px;
    margin: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1{
    color: white
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(238, 152, 72);
    font-size: 1em;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(238, 102, 72);
    font-size: 1em;
}
