body {
    background-color: rgb(53, 116, 170);
    color: white;
    padding-top: 6rem;
}

.sidenav{
    position: fixed;
    top: 0;
    display: flex;
    background-color: black;
    width: 100vw;
    justify-content: space-evenly;
}

.button {
    background-color:rgb(185, 222, 255);
    padding: 1rem;
    width: 50%;
    height: 6rem;
    text-align: center;
    border: none;
    border-bottom: rgb(95, 142, 184) solid 10px;
    font-size: xx-large;
    color: black;
    font-weight: bolder;
}

.button:hover{
    background-color: rgb(142, 202, 255); 
    border-top: rgb(142, 202, 255) solid 3px;
    border-bottom: rgb(95, 142, 184) solid 7px;
    color: black;
}

.button:active{
    background-color: rgb(86, 155, 216); 
    border-top: rgb(86, 155, 216) solid 7px;
    border-bottom: rgb(95, 142, 184) solid 3px;
    color: white;
}

.button.clicked{
    background-color: rgb(53, 116, 170); 
    border-top: rgb(53, 116, 170) solid 10px;
    border-bottom: rgb(95, 142, 184) solid 0px;
    color: white;
}

a{
    color: white;
}
img{
    width: 50%;
}